@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TAKE LEAVE</h1>
    <p class="lead">TAKE LEAVE is a weekly assignment from Mas Aji. If you already have an account, please press the login button.</p>
    <p>
        <a href="http://localhost:21501/Users/Index/" class="btn btn-primary btn-lg">Login &raquo;</a><br /><br />Don't have an account ? Click Register Button<br /><br /> 
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" onclick="">Register &raquo;</button>    </p>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Register Form</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="FirstName">First Name</label>
                        <input type="text" class="form-control" id="FirstName" placeholder="First Name" />
                        <span style="color:red" class="error">FirstName Required</span>
                    </div>
                    <div class="form-group">
                        <label for="LastName">Last Name</label>
                        <input type="text" class="form-control" id="LastName" placeholder="Last Name" />
                        <span style="color:red" class="error">Last Name Required</span>
                    </div>
                    <div class="form-group">
                        <label for="Username">Username</label>
                        <input type="text" class="form-control" id="Username" placeholder="Username" />
                        <span style="color:red" class="error">Username Required</span>
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="text" class="form-control" id="Password" placeholder="Password" />
                        <span style="color:red" class="error">Password Required</span>
                    </div>
                    <div class="form-group">
                        <label for="RetypePassword">Retype Password</label>
                        <input type="text" class="form-control" id="RetypePassword" placeholder="Retype Password" />
                        <span style="color:red" class="error">Please retype your password</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="Save" onclick="ValidationInsert();">Register</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">Close</button>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@

<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }
</style>

@section Scripts {
    <script src="~/Content/SweetAlert/sweetalert.min.js"></script>
    <script src="~/Scripts/Register.js"></script>
    <link href="~/Content/SweetAlert/sweetalert.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
}