<div class="container">
    <hr />
    <table class="table table-hover" id="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Log Date</th>
                <th>Employee</th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>

@section Scripts {
    <script src="~/Content/DataTable/jquery.dataTables.min.js"></script>
    <script src="~/Content/SweetAlert/sweetalert.min.js"></script>
    <link href="~/Content/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/SweetAlert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/LogMaster/RetrievingLog.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}