<div class="container">
    <hr />
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="">Create New</button><br /><br />
    <table class="table table-hover" id="table">
        <thead>
            <tr>
                <th>
                    No
                </th>
                <th>
                    Name
                </th>
                <th>
                    District
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Village Form</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Id">Id</label>
                        <input type="number" class="form-control" id="Id" placeholder="Id" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="Name" />
                        <span style="color:red" class="error">Valid Name Required</span>
                    </div>
                    <div class="form-group">
                        <label for="Districts_Id">District Name</label>
                        <select class="form-control" id="Districts_Id">
                            <option>Select</option>
                        </select>
                        <span style="color:red" class="error">Valid District Required</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="Save" onclick="ValidationInsert();">Add</button>
                <button type="button" class="btn btn-primary" id="Update" style="display:none;" onclick="ValidationUpdate();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="hideAlert();">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
   
<script src="~/Scripts/VillageMaster/RetrievingVillage.js"></script>
    <link href="~/Content/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/SweetAlert/sweetalert.css" rel="stylesheet" />
    <script src="~/Content/DataTable/jquery.dataTables.min.js"></script>
    <script src="~/Content/SweetAlert/sweetalert.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}